/*CSS Classes for Helpdesk front page*/

.statuslistcard {
  width: auto;
  height: 65px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2.5%;
  top: 25px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgb(0 0 0 / 25%);
}

.statuslabel {
  font-weight: bolder;
  text-align: left;
  --font-size: 16px;
}

.badge {
  --background: rgba(203, 32, 45, 0.3);
  --color: #cb202d;
  text-align: left;
}
.SelectInputSCC{
  --background: rgba(203, 32, 45, 0.1);
  box-shadow: 1px 2px 4px 0px rgb(23 23 23 / 40%);
  border-radius: 8px;
  box-sizing: border-box;
}
.SelectInputSCCButton{
  margin-top: 5px;
  height: 22px;
  width: 49px;
  font-size: x-small;
  font-weight: bold;
  margin-left: -30px;
  margin-right: -9px;
}
/* .LabelPosition{
  padding: 1px;
} */

.commonbutton {
  width: 90%;
  height: 53px;
  margin-left: 4.9%;
  margin-right: 5%;
  margin-top: 35px;
  bottom: 43px;
  --background: #cb202d;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  box-shadow: 4px 4px 20px rgb(0 0 0 / 10%);
  --border-radius: 10px;
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.1));
}

/*Ticket List*/

.ticketlist {
  width: auto;
  margin-left: 2.5%;
  margin-right: 3.5%;
}

.openbutton {
  height: 35px;
  width: 40px;
  margin-right: auto;
  --background: #cb202d;
  --border-radius: 10px;
  float: right;
}

.listcardtime {
  text-align: right;
  font-style: normal;
  font-weight: bolder;
  font-size: 8px;
  line-height: 10px;
  color: #cb202d;
  bottom: auto;
  left: 10px;
}
.ticketListTitle {
  margin-top: 5px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;

  color: rgba(0, 0, 0, 0.8);
}

.listcardtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  right: 8px;
  top: -10px;
}

.listcardsubtitle {
  font-size: 12px;
  font-weight: bolder;
  line-height: 10px;
  bottom: auto;
  right: 10px;
}
.ticketListCatSubcat {
  background: #ffffff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  width: fit-content;
}
.ticketListCatSubcat2 {
  margin-left: 7px;
}
/*Ticket Details*/

.ticketdetailscard {
  background: #ffffff;
  box-shadow: 4px 4px 10px rgb(0 0 0 / 25%);
  border-radius: 10px;
  margin-left: 3.5%;
  margin-right: 4%;
  height: auto;
  width: auto;
  top: 25px;
  margin-bottom: 7%;
}

.ticketNumber {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
}
.raiseTicketHeading{
  margin-top: 22px;
  margin-bottom: 18px;
}
.ticketDetailUserDetail {
  font-weight: 1000;
  margin-left: 4px;
  color: #000000;
}
.ticketDetailUserDetailChapter{
  font-weight: 1000;
  margin-left: 4px;
  font-style: italic;
  color: #000000;

}
.ticketTitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}
.ticketCreationTime {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  color: #cb202d;
}
.categorySubcategory {
  top: -5px;
  left: -1px;
  background: #ffffff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  color: black;
  font-size: 12px;
}
.categorySubcategory11{
  top: -5px;
  left: -1px;
  background: #ffffff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  color: black;
  font-size: 12px;
  padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.catSubcat {
  top: -5px;
  left: -21px;
  background: #ffffff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  color: black;
  font-size: 12px;
}
.description {
  left: 5px;
  top: -5px;
}
.commentTime {
  left: -3px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 10px;
  color: #cb202d;
  top: 4px;
}
.commentName {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  top: 5px;
  left: -10px;

  color: #cb202d;
}
.commentBox {
  left: -10px;
  width: 100%;

  background: rgba(203, 32, 45, 0.1);
  border-radius: 10px;
}

.ticketdetail2 {
  font-size: 9px;
  line-height: 15px;
  color: #ffa500;
  font-weight: bolder;
  background: rgba(255, 165, 0, 0.2);
  border-radius: 5px;
  margin-left: auto;
  width: 102px;
  height: 15px;
  margin-top: 4px;
  margin-right: -10px;
  text-align: center;
}

.ticketdetail22 {
  font-size: 9px;
  line-height: 15px;
  color: #d90000;
  font-weight: bolder;
  background: rgba(217, 0, 0, 0.2);
  border-radius: 5px;
  margin-left: auto;
  width: 102px;
  height: 15px;
  margin-top: 4px;
  margin-right: -10px;
  text-align: center;
}

.comlist {
  bottom: auto;
  width: auto;
  background: #cb202d1a;
  border-radius: 10px;
  height: auto;
  margin-left: -2px;
  margin-right: -1px;
}

.commenttext1 {
  font-size: 13px;
  color: #cb202d;
  font-weight: bolder;
  margin-top: -35px;
  margin-left: 48px;
  margin-bottom: 5px;
}

.commenttext2 {
  font-size: 13px;
  line-height: 18px;
  color: #cb202d;
  margin-left: 6px;
  margin-top: 12px;
  margin-right: auto;
  text-align: justify;
}

.commenttext3 {
  font-size: 10px;
  color: #cb202d;
  margin-top: 13px;
  margin-left: auto;
  text-align: end;
}

.commentadd {
  background: #f3f3f3;
  border-radius: 10px;
  height: 120px;
  width: auto;
  margin-left: -1px;
  margin-right: 0.5px;
  margin-top: auto;
}

.addbutton {
  float: right;
  --background: #cb202d;
  margin-right: 8px;
  --border-radius: 10px;
  width: 43px;
}

.uploadbutton {
  --background: #cb202d;
  --border-radius: 10px;
  width: 40px;
  margin-top: 5px;
  margin-right: auto;
  height: 50px;
}

.uploadbutton1 {
  --background: #cb202d;
  --border-radius: 10px;
  width: 64px;
  margin-bottom: 12px;
  margin-top: 12px;
  margin-right: auto;
  height: 45px;
}
.uploadButtonAttachment{
  --background: #cb202d;
  --border-radius: 10px;
  width: 39%;
  margin-top: 5px;
  margin-left: 30%;
  margin-right: 30%;
  height: 36px;
}

.attach {
  box-shadow: none;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.commonbutton1 {
  width: 100%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  --background: #cb202d;
  --border-radius: 10px;
}

.closebutton {
  width: 100%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  --background: #ff0000e7;
  --border-radius: 10px;
}

.closeattach {
  border: 1.5px dashed #cb202d;
  box-sizing: border-box;
  border-radius: 10px;
  margin-left: -1%;
  margin-right: -1%;
  width: auto;
  color: rgba(203, 32, 45, 0.3);
  font-size: 14px;
  line-height: 17px;
}

.closeattachlabel {
  margin-top: auto;
  color: rgba(203, 32, 45, 0.3);
  font-weight: 500;
  font-size: 17px;
}

/* Create Ticket*/
.createticketinput {
  --background: #f3f3f3;
  border-radius: 10px;
  margin-bottom: 18px;
  margin-left: 4.65%;
  margin-right: 5.6%;
  margin-top: 20px;
}

.createticketdescription {
  --background: #f3f3f3;
  border-radius: 10px;
  margin-bottom: 18px;
  margin-left: 4.5%;
  margin-right: 5.5%;
  margin-top: 18px;
}

.alert-wrapper {
  width: 90% !important;
  max-width: 90% !important;
  border-radius: 10px !important;
  font-weight: bolder !important;
}

.viewheader {
  font-weight: bolder;
  font-size: 20px;
  font-family: Montserrat;
}

.alert-title.sc-ion-alert-md {
  font-weight: bolder;
}

.popover-content.sc-ion-popover-md {
  border-radius: 10px;
  width: auto;
}

.alert-radio-icon.sc-ion-alert-md {
  border-color: #cb202d;
  border-width: 1.5px;
}

.alert-radio-label.sc-ion-alert-md {
  color: #000000;
  font-style: normal;
  font-size: 18px;
  font-weight: normal;
}

.alert-button-inner.sc-ion-alert-md {
  color: #d90000;
}

.alert-button-group.sc-ion-alert-md {
  border-top: 0.1px solid rgba(0, 0, 0, 0.5);
}

.alert-head.sc-ion-alert-md + .alert-message.sc-ion-alert-md {
  text-align: justify;
}

.footertext {
  font-size: 11px;
  margin-bottom: 5px;
}

.createlabel {
  bottom: 10px;
}

.submitbutton {
  width: 100%;
  --background: #cb202d;
  box-shadow: 4px 4px 20px rgb(0 0 0 / 10%);
  --border-radius: 10px;
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.1));
  --border-radius: 10px;
  height: 50px;
  margin-left: 4.5%;
  margin-right: 5.5%;
  margin-top: 12px;
  margin-bottom: 60px;
}

.fileUploadButton {
  width: 100%;
  margin-right: 5.5%;
  margin-left: 4.5%;
}

.profilephoto {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.popover-content.sc-ion-popover-md {
  position: initial;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 10px;
}
.iiaLogo {
  width: 39px;
  height: 39px;
  border-radius: 19.5px;
}

.createpop2 {
  font-style: normal;
  font-weight: bolder;
  font-size: 18px;
  line-height: 26px;
  top: 17px;
  margin-bottom: 12px;
}

.createpop3 {
  height: 38px;
  margin-top: 17px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  --border-radius: 7px;
}
