:root {
  --ion-color-light: #fff;
  --ion-color-primary: #cb202d;
  --ion-color-secondary: #f3f3f3;
}

.directorycontent{
    padding-top: 20px;
    padding-bottom: 10px;
    justify-content: center;
}

.search {
    width: auto;
}


/* popever details css*/

.directorycardadmin {
    width: auto;
    border-radius: 10px;
    margin-top: -5px;
    margin-bottom: -5px;
    margin-left: 30%;
    margin-right: 30%;
}
.directorycard {
    width: auto;
    border-radius: 10px;
    margin-top: -5px;
    margin-bottom: -5px;
}

.profilepic{
    width: 50%;
    height: 50%;
}

.popdetails {
    font-size: 13px;
}


.popcontent {
    line-height: 24px;
    font-size: small;
}

.poplabel {
    line-height: 28px;
}

.nomembers {
    text-align: center;
    font-weight: bolder;
    font-size: 15px;
    --padding-top: 15px;
}

.dircarddetail{
    padding-left: 15px;
    padding-bottom: 5px;
}

.dirsearch {
    padding: auto;
    width: 100%;
}

.memname{
    padding-top: 17px;
}
