@import url("Common.css");
:root {
  --ion-color-light: #fff;
  --ion-color-primary: #cb202d;
  --ion-color-secondary: #f3f3f3;
}

.SendOTPItemCard.md {
  margin-top: 10px;
  width: 100%;
  max-width: 322px;
  height: 55px;
}

.SendOTPItemCard.ios {
  margin-top: 10px;
  width: 95%;
  max-width: 330px;
  height: 55px;
}

.SendOTPButton.md {
  margin-top: 10px;
  width: 100%;
  max-width: 322px;
  height: 55px;
  --border-radius: 10px;
  --background: #cb202d;
}

.SendOTPButton.ios {
  margin-top: 10px;
  width: 95%;
  max-width: 330px;
  height: 55px;
  --background: #cb202d;
}

.VerifyOTPButton.md {
  margin-top: 0px;
  width: 100%;
  max-width: 322px;
  height: 55px;
  --border-radius: 10px;
  --background: #cb202d;
}

.VerifyOTPButton.ios {
  margin-top: 0px;
  width: 25%;
  min-width: 330px;
  height: 55px;
  --background: #cb202d;
}

.loginHeader {
  font-family: Montserrat-Bold;
}

.logoSegment {
  margin-top: 200px;
  --background: white;
}

.colorSeg {
  --background: white;
  background: white;
  font-weight: bold;
  width: 100%;
}

.label-Text {
  font-weight: bold;
}

.grid-col {
  margin-right: 0%;
  margin-left: 0%;
  max-width: 80px;
  max-height: 80px;
  text-align: center;
  box-shadow: none;
}

.incorrect-OTP {
  color: white;
  border-style: solid;
  border-width: thin;
  border-color: #ff0000;
}

.incorrect-OTP-Text {
  color: #ff0000;
  margin-top: 0px;
}

.grid-width {
  max-width: 360px;
  margin-bottom: 0%;
}

.sc-ion-input-ios-h {
  --padding-top: 10px;
  --padding-end: 10px;
  --padding-bottom: 10px;
  --padding-start: 10px;
  font-size: inherit;
}
.sc-ion-input-md-h {
  --padding-top: 10px;
  --padding-end: 10px;
  --padding-bottom: 10px;
  --padding-start: 10px;
  font-size: inherit;
}

.editButton.md {
  margin-left: 5px;
  margin-right: 0px;
  vertical-align: auto;
}

.marginTimer {
  padding-left: 5px;
}

.OtpInputBox {
  font-weight: 1000 !important;
  letter-spacing: 14px;
  text-align: center;
  padding-inline-start: 10px !important;
}
.selectUnit{
  --width: 90%
}
.modalHeader{
  font-family: Montserrat-Bold ;
  height: 50%;
}
.radioClass{
  --inner-padding-bottom: 5% !important;
}
.buttonItem{
  margin-right: 0%;
  margin-left: auto;
}
.cancelButton{
  color:#FF0000;
  font-size: medium; 
  text-align: end;
  font-weight: bold;
}
.recordButton{
  text-align: end;
  color:#CB202D;
  font-size: medium;
  font-weight: bold;
}
.popover-wrapper{
  width: 90%;
}