@import url("Common.css");

.iiaImage {
  width: 50px;
  float: right;
}
.iiaImageCentre {
  width: 75%;
  height: 24vh;
}

.becomeIIAMemberButton {
  margin-top: 2.8vh;
  width: 75%;
  height: 6.6vh;
  font-size: 1.7vh;
}

.viewBenefitButton {
  margin-top: 2.2vh;
  width: 75%;
  height: 6.6vh;
  --color: #cb202d;
  --background: white;
  font-size: 1.7vh;
}

.applicationProcessButton {
  margin-top: 2.2vh;
  width: 75%;
  height: 6.6vh;
  --color: #cb202d;
  --background: #ffffff;
  font-size: 1.7vh;
}

.joinIIAlogoSegment {
  margin-top: 10%;
}

.content {
  margin-left: 7%;
  height: 60vh;
  overflow-y: auto;
}
.content-memberDetails {
  margin-left: 7%;
  height: 35vh;
  margin-bottom: 20px;
  overflow-y: auto;
}
.content-fileUpload {
  margin-top: 80px;
}
.content-fileUpload .fileUploadButton {
  width: 80%;
}
.membershipProfileInput {
  margin-bottom: 18px;
}

.viewButtonColumn {
  text-align: right;
}
.viewButton {
  width: 53px;
  height: 53px;
  --background: #cb202d2e;
  box-shadow: none;
}

.nextButton {
  width: 50px;
  height: 50px;
  margin-right: 9%;
  margin-top: 1%;
}
.previousButton {
  width: 50px;
  height: 50px;
  margin-left: 9%;
  margin-top: 1%;
}
.membershipProfileSubmitButton {
  width: 50%;
}
.displayMessage {
  margin-top: 30px;
}
.addressHeadline {
  margin-top: 15px;
  margin-bottom: 22px;
}
.submittedMembershipList {
  margin-top: 30px;
}
.submittedProfileCard {
  border-radius: 12px;
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.1));
  width: 100%;
}
.membershipProfileSlide {
  height: 80vh;
}
.membershipProfileFooter {
  position: absolute;
  height: 85px;
  bottom: 0px;
  --background: white;
  border-radius: 30px 30px 0px 0px;
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.1));
}

.MemberButton {
  margin-bottom: 10vh;
  margin-top: 50px;
  margin-left: -3vw;
}
.registrationCard {
  height: 90%;
  width: 90%;
}
.membershipFileUpload {
  margin-bottom: 18px;
  width: 100%;
}

.membershipCard {
  margin-top: 40px;
  width: 80%;
  max-width: 600px;
}
.membershipCardUpper {
  height: 112px;
  --background: #cb202d33;
}
.membershipCardStatus {
  width: 52px;
  height: 18px;
  font-size: 10px;
  border-radius: 10px;
  font-weight: bold;
  float: right;
  padding-top: 2px;
  color: white;
}
.membershipCardStatusActive {
  --background: green;
}
.membershipCardStatusGrace {
  --background: orange;
}
.membershipCardStatusExpired {
  --background: red;
}
.membershipCardProfileRow {
  margin-top: -55px;
}
.membershipCardNameColumn {
  padding-top: 14px;
  text-align: left;
  padding-left: 30px;
}
.membershipCardTitle {
  font-size: 16px;
  font-weight: bold;
  --color: #cb202d;
}
.membershipCardSubTitle {
  font-size: 12px;
  --color: #cb202d;
  font-weight: bold;
}
.searchTitle {
  margin-top: 60px;
}

.benifitBttn {
  --background: #ffffff;
  border: 1px solid #cb202d;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bolder;
  font-size: 13px;
  line-height: 20px;
  color: #cb202d;
  width: 87%;
  margin-top: 5px;
  height: 50px;
  text-transform: none;
  --padding-start: 0px;
  --padding-end: 0px;
  margin-bottom: 0px;
}

.rotate180 {
  transform: rotate(180deg);
}

.rotate0 {
  transform: rotate(0deg);
}

.benifitContent {
  --padding-top: 20px !important;
}

.benifitLabel {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  width: 87%;
  background: rgba(203, 32, 45, 0.2);
  border-radius: 0px 0px 10px 10px;
  padding: 0px 5px 5px 5px;
}

.titleSlide {
  max-width: fit-content;
  font-size: 16px;
  font-weight: bolder;
  color: #cb202d;
  margin-top: 20px;
  margin-bottom: 20px;
}

.applicationSlides {
  height: 55vh;
}

.slideImageCentre {
  height: 40vh !important;
}

.popoverDim {
  --width: 90%;
  --border-radius: 10px;
  --border-radius: 10px;
}
.popoverDim .modal-wrapper {
  --height: 80%;
}

.popoverBecomeIIAMemberButton {
  width: 90%;
  height: 6vh;
}
.applicationSlides .swiper-pagination-bullet {
  opacity: 1;
  border: #cb202d solid 1px;
  background-color: transparent;
  width: 6px;
  height: 6px;
}
.applicationSlides .swiper-pagination {
  padding-top: 55vh;
}

.applicationSlides .swiper-pagination-bullet-active {
  background: #cb202d;
  width: 7.5px;
  height: 7.5px;
}

.viewBenefitsButton {
  width: 80%;
  max-width: 600px;
  height: 50px;
  --background: #cb202d;
  /* box-shadow: 4px 4px 20px rgb(0 0 0 / 10%); */
  --border-radius: 10px;
  /* filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.1)); */
}

.gridFont {
  font-family: Montserrat-Bold;
}

.avatarSize {
  height: 150%;
  width: 150%;
  max-width: 150%;
}
.profilePictureImageUploadButton {
  width: 89%;
  margin-left: auto;
  margin-right: auto;
}
.uploadProfilePicturePopover {
  --max-width: 540px;
}
.previewText {
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 10px;
}

.uploadProfilePictureButtons {
  margin-top: 10px;
}
.profilePictureUploadButton {
  width: 49%;
}
.profilePictureUploadPreview {
  height: 60vh;
}

@media (max-width: 800px) {
  .joinIIAlogoSegment {
    margin-top: 25%;
    width: 100%;
  }
  .nextButton {
    margin-top: 10px;
  }
  .previousButton {
    margin-top: 10px;
  }
}

@media (orientation: Landscape) {
  .iiaImageCentre {
    width: 75%;
    height: 27vh;
    min-width: 300px;
  }

  .becomeIIAMemberButton {
    margin-top: 2.8vh;
    width: 25%;
    min-width: 300px;
    height: 6.6vh;
    font-size: 1.7vh;
  }

  .viewBenefitButton {
    margin-top: 2.2vh;
    width: 25%;
    min-width: 300px;
    height: 6.6vh;
    --color: #cb202d;
    --background: white;
    font-size: 1.7vh;
  }

  .applicationProcessButton {
    margin-top: 2.2vh;
    width: 25%;
    min-width: 300px;
    height: 6.6vh;
    --color: #cb202d;
    --background: white;
    font-size: 1.7vh;
  }
}
.ContentCenters {
  margin-top: 25vh;
}
.heightadjust {
  height: 80px;
}
.showAmount {
  margin-top: 30vh;
  margin-left: 5%;
  margin-right: 5%;
}
.payButton {
  margin-top: 50px;
  width: 90%;
}
.selectDisabled {
  opacity: 1 !important;
}
.reapplyButton {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.backdrop {
  --backdrop-opacity: 0;
}
.paymentYearDetails {
  margin-top: 2vh;
  font-weight: bold;
  margin-bottom: 2vh;
  font-size: 20px;
}
.iiaimg {
  width: 25%;
  margin-left: 39%;
}
.popoverTitle {
  margin-top: 10px;
  font-weight: bold;
}
.popoverInput {
  margin-bottom: 10px;
  margin-top: 10px;
}
.popoverButton {
  width: 90%;
}
.paymentForm {
  margin-top: 50px;
}
.gatewayError {
  margin-top: 30px;
}
.gatewayError2 {
  font-size: 25px;
  font-weight: bold;
}
.gstPopOver {
  --max-width: 600px;
  --height: 200px;
  --offset-x: 200px;
}
