.card-style {
  height: 90%;
  width: 100%;
}

.newsSlides {
  height: 100%;
  width: auto;
}

/* .newsSlides .swiper-slide {
  margin-top: 12px;
} */

.load-head {
  text-align: center;
  text-align-last: center;
  align-content: center;
}

.spin {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10%;
  height: 10%;
  stroke: #444;
  fill: #222;
}

ion-spinner {
  width: 28px;
  height: 28px;
  stroke: #444;
  fill: #222;
}

.description-card {
  background-color: rgb(205, 236, 236);
}

.labelFont {
  font-weight: bold;
  padding-bottom: 0%;
  margin-bottom: 5%;
  margin-top: 10px;
  font-size: medium;
  margin-left: 4%;
  margin-right: 4%;
  color: var(--ion-color-primary);
}

.paragraph {
  font-size: medium;
  margin-left: 4%;
  margin-right: 4%;
}

.articleBy {
  font-size: smaller;
  font-style: italic;
  font-weight: bolder;
  margin-left: 4%;
  margin-right: 4%;
}

.textDiv {
  height: 52%;
}

.createNewsTitle {
  margin-top: 21px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 18px;
}

.createinput {
  --background: #f3f3f3;
  border-radius: 10px;
  margin-bottom: 18px;
  margin-left: 4.65%;
  margin-right: 5.6%;
  margin-top: 20px;
}
.createDescriptionInput {
  --background: #f3f3f3;
  border-radius: 10px;
  margin-bottom: 18px;
  margin-left: 4.5%;
  margin-right: 5.5%;
  margin-top: 18px;
}

.footertext {
  font-size: 11px;
  margin-bottom: 5px;
}

.submitButton {
  width: 100%;
  --background: #cb202d;
  box-shadow: 4px 4px 20px rgb(0 0 0 / 10%);
  --border-radius: 10px;
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.1));
  --border-radius: 10px;
  height: 57px;
  margin-left: 4.5%;
  margin-right: 5.5%;
  margin-top: 12px;
  margin-bottom: 60px;
}
.imgStyle {
  border-radius: 16px;
  width: -webkit-fill-available !important;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 3%;
  object-fit: cover;
  height: 30vh !important;
  min-height: 200px;
}
.readButton {
  width: 90%;
  --background: #cb202d;
  --border-radius: 10px;
  height: 40px;
}
.newsCard {
  height: 88vh;
  min-height: 500px;
}

.newsFooter {
  position: fixed;
  width: 100%;
  bottom: 0px !important;
}
