.ion-text-start-new{
    text-align: center;
    margin-left: 45%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
}
.ion-text-end-start{
    margin-top: 1.5%;
    margin-left: 149px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
}
.new-item-size{
 border-color: rgb(1, 1, 6);
}

.newcreateinput {
    --background: #f3f3f3;
    border-radius: 6px;
    margin-bottom: 0px;
    margin-left: 0.65%;
    margin-right: 1.6%;
    margin-top: 15px;
}
.gstcreateinput {
    --background: #f3f3f3;
    border-radius: 10px;
    margin-bottom: 18px;
    margin-left: 7.65%;
    margin-right: 8.6%;
    margin-top: 16px;
}
.new-button-delete{
    width: 84.7px;
    height: 27px;
    margin-left: 247px;
}
