.offer-img {
  width: auto;
  align-items: center;
  margin: auto;
}

.no-items {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.offerlist {
  background: #ffffff;
  box-shadow: 5px 5px 20px rgb(0 0 0 / 8%);
  border-radius: 10px;
  margin-top: 13px;
  margin-left: 20px;
  margin-right: 25px;
  top: 10px;
}

.offerlistdet1 {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #cb202d;
}

.offerlistdet2 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  margin-top: 4px;
  margin-bottom: 5px;
  color: #000000;
}

.offerlistdet3 {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.viewsvg {
  height: 16px;
  width: 21px;
  margin-top: 17px;
}

.viewbutton {
  background: rgba(203, 32, 45, 0.2);
  border-radius: 10px;
  height: 49px;
  width: 49px;
  float: right;
  margin-left: auto;
}

.sc-ion-modal-md {
  --height: 70%;
  align-self: end;
  --border-radius: 20px 20px 0 0;
}
.offermod1 {
  font-style: normal;
  font-weight: bolder;
  font-size: 24px;
  line-height: 29px;
  color: #cb202d;
  margin-bottom: 0px;
  margin-top: 5px;
}
.offermod2 {
  font-style: normal;
  font-weight: bolder;
  font-size: 15px;
  line-height: 18px;
  color: #cb202d;
  margin-bottom: -12px;
  margin-left: 17px;
}
.offermod3 {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  margin-left: 17px;
}
.offermod4 {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
}
.offerdownbutton {
  height: 45px;
  width: 95%;
  max-width: 600px;
  margin-bottom: 5px;
  --border-radius: 10px;
}
.popoverDim {
  --width: 90%;
  --border-radius: 10px;
  --border-radius: 10px;
}
.popoverDim .modal-wrapper {
  --height: 80%;
}
