.modalHeader2 {
  font-family: Montserrat-Bold;
  box-shadow: none;
  font-size: 25px;
  margin: 10px;
}

.labelHeader {
  font-family: Montserrat;
  font-weight: 1000;
  margin-right: 2%;
  margin-bottom: 0%;
}

.recordPaymentCancelButton {
  color: #ff0000;
  text-align: end;
  font-weight: bold;
}
.recordButton {
  text-align: end;
  color: #cb202d;
  font-size: medium;
  font-weight: bold;
  width: 100% !important;
  height: 100px;
}
.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.buttonItem {
  margin-right: 0%;
  margin-left: auto;
}

.listItem {
  padding: 0%;
  margin: 0%;
}

.radioClass {
  --inner-padding-bottom: 5% !important;
}

.phoneinput {
  width: 75%;
  max-width: 300px;
  height: 52.8px;
  margin-right: 2px;
  margin-top: 5px;
}

.searchicon {
  height: 52.8px;
  /* width: 52.8px; */
}
.phoneSegment {
  margin-top: 3%;
}
.details {
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 5px;
  font-size: 20px;
}

.selectSegment {
  max-width: 350px;
  width: 90%;
  height: 7%;
  margin: auto;
  margin-bottom: 15px;
}
.calculate {
  width: 90%;
  font-size: 20px;
  font-weight: 1000;
}

.paymentHeader {
  font-family: Montserrat-Bold;
  font-weight: bold;
  margin-bottom: 5%;
  font-size: 20px;
  --box-shadow: none;
}
.selectClass {
  margin: auto;
  font-weight: bold;
  width: 90%;
  text-align: start;
}

.RecordButton {
  width: 90%;
  max-width: 350px;
}
.x {
  width: 100%;
}

.payHead {
  margin-top: 20px;
  font-family: Montserrat-Bold;
  font-weight: 200;
  font-size: 20px;
}
.payCard {
  color: black;
  margin-top: 10px;
  min-height: 100px;
}

.payReason {
  /* margin-top: 20px; */
  font-family: Montserrat-Bold;
  font-size: 18px;
  font-weight: 100;
  /* margin-left: 5px; */
}
.payMode {
  font-weight: 800;
}
.payAmount {
  color: red;
  font-size: 22px;
  padding-top: 15px;
  font-weight: 900;
}
.payGrid {
  margin-top: 20px;
  min-height: 80px;
}
.payDivide {
  padding-left: 10px;
}
.payTime {
  font-size: 12px;
  margin-top: 0px;
  padding: none !important;
}
.payContent {
  font-size: 10px;
  text-decoration: underline;
  font-weight: 1000;
}
.invoicePa {
  margin-top: 100px;
  font-size: 25px;
  margin-bottom: 20px;
}
.noDue{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}
.onlineUd p{
  margin: 0;
  color: black;
}
.onlineUd p span{
  font-weight: bold;
  color: black;
  display: inline-block;
}
.actionbtn{
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.actionbtn button{
  background: red;
  color: white;
  padding: 5px 13px;
  border-radius: 4px;
}
.payolineCard ion-card-header{
  padding-top: 5px;
  padding-bottom: 5px;
}
.loadingspinner>span{
  display: none;
}
@media screen and (min-width:700px) {
  .loadingspinner>span{
    display: inline-block;
  }
}
@media screen and (min-width:900px) {
    .userpayContainter{
      margin: 0 auto;
      width: 50%;
    }
   
}